AI_REPORT_MODE=assist
AI_MODEL_BASE_URL=https://freeapi.dgbmc.top
AI_MODEL_NAME=
AI_MODEL_API_KEY=
AI_MODEL_TIMEOUT_SECONDS=20
AI_MODEL_MAX_CALLS_PER_RUN=3

AD_USERNAME=
AD_PASSWORD=
AD_HOST=
AD_PORT=8600
